.component-text-editor .shared-document-editor { min-height: 0; color: inherit; background: transparent; }
.component-text-editor .shared-document-editor .ProseMirror { padding: 0; min-height: 0; line-height: inherit; }
.component-text-editor .shared-document-editor .ProseMirror p { margin: 0; line-height: inherit !important; }
